* {
    margin: 0;
	padding: 0;
	border: 0;
    font-family: 'Arial', sans-serif;
}

h1 {font-size: 4rem;}

/* Chrome, Safari, Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.timer {
    background-color: #444;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    .timer__title {
        color: #222;
    }
    .timer__display {
        font-size: 7rem;
        display: flex;
        flex-direction: row;
    }
    .timer__display input {
        background-color: transparent;
        color: #fff;
        width: 7rem;
        height: 8rem;
        font-size: 6rem;
        font-weight: bold;
        text-align: center;
        border: none;
        border-radius: 5%;
        margin: 10px 0;
    }
    .timer__actions-button {
        background-color: #fff;
        width: 10rem;
        height: 4rem;
        font-size: 2rem;
        border-radius: 5%;
        margin: 10px 0;
        cursor: pointer;
    }
}